<div class="modal fade enter-access-code-modal" tabindex=-1 role=dialog aria-labelledby=myModalLabel data-keyboard=false data-backdrop=static>
    <div class="modal-dialog modal-sm" role=document>
        <div class=modal-content>
            <div class=modal-header>
                <button type=button class=close data-dismiss=modal aria-label=Close>
                    <span aria-hidden=true>&times;</span>
                </button>
                <h4 class=modal-title id=myModalLabel>
                    <strong>
                        <small>Authentication Required</small>
                    </strong>
                </h4>
            </div>
            <div class=modal-body>
                <div class=row>
                    <div class=col-md-12>
                        <form method=post id=EnterAccessCodeForm>
                            <div class=form-group>
                                <label>
                                    <strong>
                                        <small>Enter Your Password </small>
                                    </strong>
                                </label>
                                <input class="form-control input-sm" autocomplete=off id=EnterAccessCode type=password required>
                            </div>
                            <button id=btnenteraccesscode class="btn btn-primary btn-sm pull-right ladda-button" data-style=expand-right data-size=s>Authenticate</button>
                            <input name=__RequestVerificationToken type=hidden value=CfDJ8K8elgsLS7hMlHQKPXte6tWKO7792FM3IkoDRBMpDtenlbhW_pzlEU1UZryrofNUWmLhnvo9IL9B3QDCQSUME0Ano3n5oAfp0ctvMibtGsro9XI-TsupDHII3VTONnhUkl2E6M8sZuZKZc9JlRGYkjF8B46uleLP_NJGJINxn_rjZXAO0YCOmtWvFtlzFNNBJw>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>