@{
    Layout = "_LayoutPos";
    ViewBag.Title = "Point Of Sale";
}
<form id=SampleForm method=post>
    <input name=__RequestVerificationToken type=hidden value=CfDJ8BQ9zUhkDydLvDbtVN6pNu8-kXgWClrt8nQu3NtnVnaFhdVG9r0-2TDjZYMW-jpG6qpptG3ZgvmbhVAN5nXTa_J_QEWBMwjl1RD6LZrdnJDb6qXgIuYPy97g1tvG99CFtnyQDnA8Q3YSzke7NEUxFkAVO9kKQ9UWgF9jEBZuQh0a2BY6qdoKQV6PqtG-Qj_J-w>
</form>
<div class=o_action_manager>
    <div class=pos>
        <div class=pos-topheader>
            <div class=pos-branding>
                <a href="/">
                    <h1>
                        POS System
                    </h1>
                </a>
            </div>
            <div class=pos-rightheader>
                <div class=order-selector>
                    <span class="orders touch-scrollable"></span>
                    <span class="order-button square neworder-button">
                        
                        <i class="fa fa-plus" role=img aria-label="New order" title="New order"></i>
                    </span>
                    <span class="order-button square deleteorder-button">
                        <i class="fa fa-minus" role=img aria-label="Delete order" title="Delete order"></i>
                    </span>
                </div>
                <div class="oe_status js_synch">
                    <span class="js_msg oe_hidden"></span>
                    <div class="js_connected oe_icon oe_green oe_hidden">
                        <i class="fa fa-fw fa-wifi" role=img aria-label="Synchronisation Connected" title="Synchronisation Connected"></i>
                    </div>
                    <div class="js_connecting oe_icon oe_hidden">
                        <i class="fa fa-fw fa-spin fa-spinner" role=img aria-label="Synchronisation Connecting" title="Synchronisation Connecting"></i>
                       
                    </div>
                    <div class="js_disconnected oe_icon oe_red oe_hidden">
                        <i class="fa fa-fw fa-wifi" role=img aria-label="Synchronisation Disconnected" title="Synchronisation Disconnected"></i>
                    </div>
                    <div class="js_error oe_icon oe_red oe_hidden">
                        <i class="fa fa-fw fa-warning" role=img aria-label="Synchronisation Error" title="Synchronisation Error"></i>
                    </div>
                </div>
                <div class=oe_status>
                    @if (User?.Identity?.Name != null)
                    {
                        <span class=username>
                            @User.Identity.Name
                        </span>
                    }
                </div>
               @* <div class="header-button exit-session">Exit</div>*@
            </div>
        </div>
        <div class=pos-content>
            <div class=window>
                <div class=subwindow>
                    <div class=subwindow-container>
                        <div class="subwindow-container-fix screens">
                            <div class="product-screen screen">
                                <div class=leftpane>
                                    <div class=window>
                                        <div class=subwindow>
                                            <div class=subwindow-container>
                                                <div class=subwindow-container-fix>
                                                    <div class=order-container>
                                                        <div class="order-scroller touch-scrollable">
                                                            <div class=order>
                                                                <ul class="orderlines order-items"></ul>
                                                                <div class="summary clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="subwindow collapsed">
                                            <div class=subwindow-container>
                                                <div class="subwindow-container-fix pads">
                                                    <div class=control-buttons></div>
                                                    <div class=actionpad>
                                                        <button  class="button set-customerr" title="Select Customer">
                                                            <i class="fa fa-user" role=img aria-label=Customer title=Customer ></i>
                                                            <span id=sel-cust>Customer</span>
                                                        </button>
                                                      <button class="button order-splitt" title="Split Order">
                                                            <i  class="fa fa-files-o" role=img aria-label=Split title="Split Order"></i>
                                                            <span id=sel-guest>Split</span>
                                                        </button>
                                                        <button class="button order-mergee" title="Merge Orders">
                                                            <i class="fa fa-object-group" role=img aria-label=Merge title="Merge Orders"></i>
                                                            <span id=sel-guest >Merge</span>
                                                        </button>
                                                        <button class="button make-payment">
                                                            <i class="fa fa-chevron-right" role=img aria-label=Payment title=Payment></i>
                                                            Payment
                                                        </button>
                                                    </div>
                                                    <div class="numpad ">
                                                        <button class="input-button number-char" onclick=" ('1')">1</button>
                                                        <button class="input-button number-char" onclick=" ('2')">2</button>
                                                        <button class="input-button number-char" onclick=" ('3')">3</button>
                                                        <button class="mode-button selected-mode" data-mode=1>Qty</button>
                                                        <br>
                                                        <button class="input-button number-char" onclick=" ('4')">4</button>
                                                        <button class="input-button number-char" onclick=" ('5')">5</button>
                                                        <button class="input-button number-char" onclick=" ('6')">6</button>
                                                        <button class=mode-button data-mode=2>Disc</button>
                                                        <br>
                                                        <button class="input-button number-char" onclick=" ('7')">7</button>
                                                        <button class="input-button number-char" onclick=" ('8')">8</button>
                                                        <button class="input-button number-char" onclick=" ('9')">9</button>
                                                        <button class=mode-button data-mode=3>Price</button>
                                                        <br>
                                                        <button class="input-button numpad-minus print-orderr" title="Print Order">
                                                            <i class="fa fa-print"></i>
                                                        </button>
                                                        <button class="input-button number-char" onclick=" ('0')">0</button>
                                                        <button class="input-button number-char" onclick=" ('.')">.</button>
                                                        <button class="input-button numpad-backspace" onclick=" ('&lt;')">
                                                            <img style=pointer-events:none src="/images/Sales/backspace.png" width=24 height=21 alt=Backspace>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=rightpane>
                                    <table class=layout-table>
                                        <tbody>
                                            <tr class=header-row>
                                                <td class=header-cell>
                                                    <div>
                                                        <header class=rightpane-header>
                                                            <div class=breadcrumbs>
                                                                <span class=breadcrumb>
                                                                    <span class="breadcrumb-button breadcrumb-home js-category-switch">
                                                                        <i class="fa fa-home" role=img aria-label=Home title=Home></i>
                                                                    </span>
                                                                    <img src=/images/Sales/bc-arrow-big.png class=breadcrumb-arrow alt=Slash>
                                                                </span>
                                                                <span class=sel-category></span>
                                                            </div>
                                                            <div class=searchbox>
                                                                <input class=search-products placeholder="Search Products">
                                                                <span class="search-clear left">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                                <span class="search-clear right">
                                                                    <i aria-controls=button class="fa fa-remove clear-search-box"></i>
                                                                </span>
                                                            </div>
                                                        </header>
                                                        <div class=categories>
                                                            <div class="category-list-scroller touch-scrollable">
                                                                <div class="category-list simple"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <tr class=content-row>
                                                <td class=content-cell>
                                                    <div class=content-container>
                                                        <div class=product-list-container>
                                                            <div class="product-list-scroller touch-scrollable">
                                                                <div class=product-list></div>
                                                            </div>
                                                            <span class=placeholder-ScrollbarWidget></span>
                                                        </div>
                                                    </div>
                                    </table>
                                </div>
                            </div>
                            <div class="receipt-screen screen oe_hidden">
                                <div class=screen-content>
                                    <div class=top-content>
                                        <h1>
                                            Change: <span class=change-value>0.00</span>
                                        </h1>
                                        <span class="button next">
                                            Next Order <i class="fa fa-angle-double-right"></i>
                                        </span>
                                    </div>
                                    <div class="centered-content touch-scrollable">
                                        <div class="button print_invoice">
                                            <i class="fa fa-print"></i>
                                            Print Invoice
                                        </div>
                                        <div class="button print">
                                            <i class="fa fa-print"></i>
                                            Print Receipt
                                        </div>
                                        <div class=pos-receipt-container></div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-screen screen oe_hidden">
                                <div class=screen-content>
                                    <div class=top-content>
                                        <span class="button back">
                                            <i class="fa fa-angle-double-left"></i>
                                            Back
                                        </span>
                                        <h1>Payment</h1>
                                        <button class="button next btn-save-payments" disabled>
                                            Save Payment
                                            <i class="fa fa-angle-double-right"></i>
                                        </button>
                                    </div>
                                    <div class="left-content pc40 touch-scrollable scrollable-y">
                                        <div class=paymentmethods-container>
                                            <div class=paymentmethods></div>
                                        </div>
                                    </div>
                                    <div class="right-content pc60 touch-scrollable scrollable-y">
                                        <section class=paymentlines-container>
                                            <div class="paymentlines-empty oe_hidden">
                                                <div class="total pay-total"></div>
                                                <div class=message>Please select a payment method.</div>
                                            </div>
                                            <table class="paymentlines">
                                                <colgroup>
                                                    <col class="due">
                                                    <col class="tendered">
                                                    <col class="change">
                                                    <col class="method">
                                                    <col class="controls">
                                                </colgroup>
                                                <thead>
                                                    <tr class="label">
                                                        <th>Due</th>
                                                        <th>Tendered</th>
                                                        <th>Change</th>
                                                        <th>Method</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="paymentlines-body">
                                                </tbody>
                                            </table>

                                        </section>
                                        <section class=payment-numpad>
                                            <div class=numpad>
                                                <button class="input-button number-char" onclick=  "('1')" data-action=1>1</button>
                                                <button class="input-button number-char" onclick=  "('2')" data-action=2>2</button>
                                                <button class="input-button number-char" onclick=  "('3')" data-action=3>3</button>
                                                <br>
                                                <button class="input-button number-char" onclick=  "('4')" data-action=4>4</button>
                                                <button class="input-button number-char" onclick=  "('5')" data-action=5>5</button>
                                                <button class="input-button number-char" onclick=  "('6')" data-action=6>6</button>
                                                <br>
                                                <button class="input-button number-char" onclick=  "('7')" data-action=7>7</button>
                                                <button class="input-button number-char" onclick=  "('8')" data-action=8>8</button>
                                                <button class="input-button number-char" onclick=  "('9')" data-action=9>9</button>
                                                <br>
                                                <button class="input-button number-char" onclick=  "('0')" data-action=0>0</button>
                                                <button class="input-button number-char" onclick=  "('.')" data-action=.>.</button>
                                                <button class="input-button numpad-backspace" onclick=  "('&lt;')" data-action=BACKSPACE>
                                                    <img src="/images/Sales/backspace.png" width=24 height=21 alt=Backspace>
                                                </button>
                                            </div>
                                        </section>
                                        <div class=payment-buttons></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clientlist-screen customers-screen screen oe_hidden">
                                <div class=screen-content>
                                    <section class=top-content>
                                        <span class="button back cust-back">
                                            <i class="fa fa-angle-double-left"></i>
                                            Cancel
                                        </span>
                                        <span class=searchbox>
                                            <input class=filter-customers placeholder="Search Customers">
                                            <span class=search-clear></span>
                                        </span>
                                        <span class="button next remove-customer">
                                            Remove Customer <i class="fa fa-angle-double-right"></i>
                                        </span>
                                    </section>
                                    <section class=full-content>
                                        <div class=window>
                                            <section class=subwindow>
                                                <div class=subwindow-container>
                                                    <div class="subwindow-container-fix touch-scrollable scrollable-y">
                                                        <table class="client-list customers-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name
                                                                    <th>Address
                                                                    <th>Phone
                                                                    <th>
                                                            <tbody class=client-list-contents>
                                                        </table>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="splitbill-screen screen oe_hidden">
                                <div class=screen-content>
                                    <div class=top-content>
                                        <span class="button split-back back">
                                            <i class="fa fa-angle-double-left"></i>
                                            Back
                                        </span>
                                        <h1>Split Order</h1>
                                        <button class="button next btn-split-order highlight">
                                            Split <i class="fa fa-angle-double-right"></i>
                                        </button>
                                    </div>
                                    <div class="left-content touch-scrollable scrollable-y">
                                        <div class=order>
                                            <ul class="orderlines split-order-items"></ul>
                                        </div>
                                    </div>
                                    <div class="right-content touch-scrollable scrollable-y">
                                        <div class=order-info>
                                            <span class="subtotal split-total">0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clientlist-screen otherorders-list screen oe_hidden">
                                <div class=screen-content>
                                    <section class=top-content>
                                        <span class="button back oorders-back">
                                            <i class="fa fa-angle-double-left"></i>
                                            Cancel
                                        </span>
                                        <span class=searchbox>
                                            <input class=filter-orders placeholder="Search Order">
                                            <span class=search-clear></span>
                                        </span>
                                    </section>
                                    <section class=full-content>
                                        <div class=window>
                                            <section class=subwindow>
                                                <div class=subwindow-container>
                                                    <div class="subwindow-container-fix touch-scrollable scrollable-y">
                                                        <table class="client-list orders-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Order #
                                                                    <th>Customer
                                                                    <th>Created On
                                                                    <th>Amount
                                                                    <th>
                                                            <tbody class=orders-list-contents>
                                                        </table>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Shared/jquery-3.4.1.min.js"></script>
<script src="~/js/Sales/PointOfSale.js"></script>