<div class="modal fade report-modal" role=dialog aria-labelledby=myModalLabel data-keyboard=false data-backdrop=static>
    <div class="modal-dialog modal-lg">
        <div class=modal-content>
            <div class="modal-header clearfix">
                <button type=button class=close data-dismiss=modal aria-label=Close>
                    <span aria-hidden=true>&times;</span>
                </button>
                <h4 class=modal-title id=myModalLabel>Shared Report</h4>
            </div>
            <div class=modal-body style=height:86vh>
                <div class=row>
                    <iframe class="col-lg-12 col-md-12 col-sm-12" id=ReportIframe src=about:blank onload="if(typeof TestConnection==='function'){TestConnection();}" marginheight=0 frameborder=0 border=0 scrolling=auto style=height:80vh></iframe>
                </div>
            </div>
        </div>
    </div>
</div>